---
section: home
title: Home
---
{{#each pages}}

  {{! Portfolio }}
  {{#is data.section "portfolio"}}

    <article class="teaser{{#each data.tags}} {{.}}{{/each}}">
      <header class="tile {{data.section}}">
        <div class="front">
          <span class="section">{{data.section}}</span>
          <span class="tag">{{data.tags}}</span>
          <h3>{{data.title}}</h3>
        </div>
        <div class="back">
          {{#if data.description}}
            <p>{{data.description}}</p>
          {{/if}}
          <a class="button-1" href="{{relative ../../page.dest this.dest}}">View Details &raquo;</a>
        </div>
      </header>
      {{#each data.images}}
        <figure class="tile thumbnail">
          {{!-- <div class="colorCodeOverlay"></div> --}}
          <a class="effectOverlay" href="{{this.full.pathTo1x}}" title="{{this.description}}"{{#if this.full.pathTo2x}} data-lightbox-hidpi="{{this.full.pathTo2x}}"{{/if}} rel="enlarge">
            <img src="{{this.thumbnail.pathTo2x}}" alt="{{this.description}}">
          </a>
        </figure>
      {{/each}}
    </article>

  {{/is}}

  {{! Sketches and Drawings }}
  {{#is data.section "sketches-and-drawings"}}

    <article class="teaser">
      <header class="tile {{data.section}}">
        <div class="front">
          <span class="section">{{data.section}}</span>
          <h3>{{data.title}}</h3>
          <p>{{data.description}}</p>
        </div>
      </header>
    </article>

  {{/is}}

  {{! About }}
  {{#is data.section "about"}}

    <article class="teaser">
      <header class="tile {{data.section}}">
        <span class="section">{{data.section}}</span>
        <h3>{{data.title}}</h3>
        <p>{{data.description}}</p>
      </header>
    </article>

  {{/is}}

  {{! More }}
  {{#is data.section "more"}}

    <article class="teaser">
      <header class="tile {{data.section}}">
        <span class="section">{{data.section}}</span>
        <h3>{{data.title}}</h3>
        <p>{{data.description}}</p>
      </header>
    </article>

  {{/is}}

{{/each}}
